
/* .index {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.CrBar{
  
  display : flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(68, 68, 68);
  color: wheat;
  
}
.CrLinks{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
 
}

.ProfBar{
  
  display : flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(206, 76, 25);
  color: rgb(44, 44, 44);
  
}
.ProfLinks{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
 
}
.landing{
  height:80vh;
  width:75%;
  display:flex;
  justify-content: center;
  align-items: center;
  
}